{% extends "bootstrap/base.html"%}

{% block head %}
{{super()}}
<meta charset="utf-8">
<title> Login Page</title>
<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{%- endblock %}

{% block styles -%}
{{super()}} {# do not forget to call super or Bootstrap's own stylesheets
will disappear! #}
<link rel="stylesheet" href="/static/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}

{% block navbar %}
<ul>
    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        <a href="{{ item.url }}" class="btn btn-secondary">{{ item.label }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
{% endblock %}