{% extends 'base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block content %}


<table class="table table-striped text-center">
    <thead>
        <tr>
            <th scope="col">Answers</th>
            <th scope="col">Points</th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}
        <tr>
            {% if user.username == current_user.username %}
            <th style="color: green;">@{{user.username}}</th>
            {% else %}
            <th>@{{user.username}}</th>
            {% endif %}

            <th>{{user.points}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}