{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %} </ul>
<div class="d-flex justify-content-center">
    <h1>Login Page</h1>
</div>
<div class="d-flex justify-content-center">
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.csrf_token() }}
        <div class="form-group">
            <label for="username">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Submit</button></div>
    </form>
</div>
{% endblock %}